body {
   background-color: #8FC1E3;
}

header {
    background-color: #5085A5;
    text-align: center;
    color: #F7F9FB;
    padding: 5%;
    margin-bottom: 15px;
}

button {
    display: block;
}

#cityIdea {
    text-align: center;
}

h1, h3, h4 {
    font-family: 'Permanent Marker', cursive;
    color: #F7F9FB;
}

p, h4, h6 {
    color: #F7F9FB;
}

.cities {
    background-color: #687864;
    border-radius: 20px;
}

.info {
    background-color: #3170BE;
    border-radius: 20px;
}

.five-day {
    margin: 5px;
    padding: 2px;
    border-style: solid;
    border-color: #F7F9FB;
    border-radius: 15px;
}

